p.
  This library is based on <a href="https://mithril.js.org/">mithril</a>. All key concepts of mithril
  also apply to this library. So if you are about to write your own controls for Tweak UI dont forget
  to check mithrils documentation.
