section#disqus_thread
script(type='text/javascript').
  var disqus_shortname = 'tweak-ui';
  var disqus_url = 'https://tweak-ui.ginie.eu';
  (function(){
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
