p Install library from NPM
pre.language-shell: code.
  $ npm install tweak-ui

p.mt-3 Import the library (here in typescript)
pre.language-javascript: code.
  import * as TweakUi from "tweak-ui"

p.mt-3 mount your ui on a DOM element
pre.language-javascript: code.
  TweakUi.mount(el, [
    // ... array of definitions
  ])
