p Reference the library and style sheet
aside.language-html
  //- script(src='https://unpkg.com/tweak-ui@x.x.x/dist/tweak-ui.umd.js')
  //- link(href='https://unpkg.com/tweak-ui@x.x.x/dist/tweak-ui.css' rel='stylesheet')
  script(src='./tweak-ui.umd.js')
  link(href='./tweak-ui.css' rel='stylesheet')
p.mt-3 Add a container to your HTML
aside.language-html
  .my-element

p.mt-3 mount your ui on a DOM element
pre.language-javascript: code.
  TweakUi.mount(".my-element", [
    // ... array of definitions
  ])
