.twui-button-group,
.twui-button-group-vertical {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
}
.twui-button-group button {
  flex: auto 1 1;
}
.twui-button-group-vertical {
  flex-direction: column;
}
