.twui-group {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;

  @include color(border-color, primary-dark);
}

.twui-group-title {
  margin: 0;
  width: auto;
  height: $line-height;
  line-height: $line-height;
  @include color(background-color, primary-dark);
  padding-left: 2 * $spacer;
}

.twui-group-collapsible .twui-group-title {
  padding-left: 0;
  cursor: pointer;
}

.twui-group-collapsible > .twui-group-title::before {
  content: '▶';
  display: inline-block;
  width: $line-height;
  height: $line-height;
  text-align: center;
  transition: transform 0.1s ease-in-out;
  transform: rotateZ(90deg);
}

.twui-group-inset,
.twui-group-collapsible > .twui-group-collapsible {
  border-left: 0.25rem solid;
  @include color(border-left-color, primary-light);
}

.twui-group-collapsed > .twui-group-title::before {
  transform: rotateZ(0deg);
}

.twui-group-control {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  min-height: $line-height;
  box-sizing: border-box;

  > label:first-child {
    flex: none;
    box-sizing: border-box;
    width: $label-width - 2 * $label-pad-x;
    min-width: $label-width - 2 * $label-pad-x;
    min-height: $line-height - 2 * $spacer;
    line-height: $line-height - 2 * $spacer;
    padding: $label-pad-y $label-pad-x;
    margin: $spacer;

    overflow: hidden;
  }

  > section {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
  }
}
