.twui-root {
  @include color(background-color, primary);
  @include color(color, on-primary);

  font-family: $font-family-base;
  font-size: $font-size-base;
  padding: 0;
  margin: 0;
  width: 20rem;
  flex: auto 0 0; // dont resize in flex context
  overflow: auto;
  overflow-x: hidden;
  box-sizing: border-box;

  //
  // Scrollbars
  //

  &::-webkit-scrollbar {
    width: 0.5rem
  }

  &::-webkit-scrollbar-track {
    @include color(background-color, primary);
  }

  &::-webkit-scrollbar-thumb {
    border-width: 1px;
    border-style: solid;
    transition: background-color 0.2s ease-in-out;
    @include color(background-color, primary);
    @include color(border-color, primary-dark);
  }

  &::-webkit-scrollbar-thumb:hover {
    @include color(background-color, secondary);
  }

  //
  // Input Elements
  //

  label {
    user-select: none;
  }

  select, button, a {
    cursor: pointer;
  }

  input:not([type="checkbox"]),
  button,
  select {
    @include color(background-color, secondary);
    @include color(color, on-secondary);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    outline: none;
    border: none;
    box-sizing: border-box;

    height: $line-height - 2 * $spacer;
    line-height: $line-height - 2 * $spacer;
    padding: $input-pad-y $input-pad-x;
    margin: $spacer;
  }

  button {
    line-height: $line-height - 2 * $spacer - 2 * $button-pad-y;
    padding: $button-pad-y $button-pad-x;
    margin: $spacer;

    font-weight: 400;
    text-align: center;
    white-space: nowrap;
  }

  button, select, input:not([type="checkbox"]), .twui-progress {
    border-bottom: 1px solid;
    @include color(border-color, primary-dark);
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &:hover,
    &.checked {
      @include color(background-color, secondary-light);
      @include color(border-color, secondary-dark);
    }

    &:focus,
    &.checked {
      outline: none;
      @include color(border-color, accent);
    }

    &:disabled,
    .disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  select, input:not([type="checkbox"]) {
    &:focus {
      @include color(color, accent);
    }
  }

  input[type="number"] {
    padding-right: 0;
  }
}

