.tweakui-dark {
  --tweakui-color-primary: #263238;
  --tweakui-color-primary-dark: #000a12;
  --tweakui-color-primary-light: #4f5b62;
  --tweakui-color-secondary: #37474f;
  --tweakui-color-secondary-dark: #102027;
  --tweakui-color-secondary-light: #62727b;
  --tweakui-color-on-primary: #fff;
  --tweakui-color-on-secondary: #fff;
  --tweakui-color-accent: #f9AA33;
}

.tweakui-light {
  --tweakui-color-primary: #fafafa;
  --tweakui-color-primary-dark: #c7c7c7;
  --tweakui-color-primary-light: #ffffff;
  --tweakui-color-secondary: #cfd8dc;
  --tweakui-color-secondary-dark: #9ea7aa;
  --tweakui-color-secondary-light: #ffffff;
  --tweakui-color-on-primary: #000000;
  --tweakui-color-on-secondary: #000000;
  --tweakui-color-accent: #2196f3;
}
