p Reference the library and style sheet
aside.language-html
  //- script(src='https://unpkg.com/tweak-ui@x.x.x/dist/tweak-ui.umd.js')
  //- link(href='https://unpkg.com/tweak-ui@x.x.x/dist/tweak-ui.css' rel='stylesheet')
  script(src='./tweak-ui.umd.js')
  link(href='./tweak-ui.css' rel='stylesheet')

p.mt-3
  | Then in your javascript simply use the
  code  TweakUI
  |  global
