include ./_mixins.pug
doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  meta(charset="utf-8")
  meta(property="og:type" content="website")
  meta(property="og:title" content="Tweak Ui")
  meta(property="og:site_name" content="Tweak Ui")
  meta(property="og:url" content="https://tweakui.ginie.eu/")
  meta(property="og:description" content="a lightweight js library for building input controls with data binding")
  title Tweak UI
  link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")
  link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous")
  link(rel='stylesheet' href='https://unpkg.com/prismjs@1.16.0/themes/prism.css')
  script(src='https://unpkg.com/prismjs@1.16.0/prism.js' type='text/javascript')
  style.
    pre[class*="language-"], .token {
      margin: 0;
      background: none !important;
    }
    .container-xxl > section {
      padding-top: 56px;
    }

body(data-bs-spy="scroll", data-bs-target="nav.navbar", data-bs-offset=56)
  .bg-dark.text-light.text-center.p-4.mb-0
    .container
      h1.display-4 Tweak UI
      p.lead a lightweight js library for building input controls with data binding.
  nav.navbar.navbar-expand.navbar-dark.bg-dark.sticky-top(style="z-index: 1021;")
    .container-xxl
      a.navbar-brand(href="#")
      ul.navbar-nav
        li.nav-item.dropdown.d-none.d-sm-block
          a.nav-link.dropdown-toggle(href="#", data-bs-toggle="dropdown") How to
          ul.dropdown-menu.dropdown-menu-dark
            li: a.dropdown-item(href="#install-npm") Install (NPM)
            li: a.dropdown-item(href="#install-cdn") Install (CDN)
            li: a.dropdown-item(href="#usage") Usage
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#", data-bs-toggle="dropdown") Components
          ul.dropdown-menu.dropdown-menu-dark
            li: a.dropdown-item(href="#control-number") Number
            li: a.dropdown-item(href="#control-slider") Slider
            li: a.dropdown-item(href="#control-text") Text
            li: a.dropdown-item(href="#control-checkbox") Checkbox
            li: a.dropdown-item(href="#control-select") Select
            li: a.dropdown-item(href="#control-angle") Angle
            li: a.dropdown-item(href="#control-spherical") Spherical
            li: a.dropdown-item(href="#control-point") Point
            li: a.dropdown-item(href="#control-position") Position
            li: a.dropdown-item(href="#control-color") Color
            li: a.dropdown-item(href="#control-color-picker") Color picker

            li: hr.dropdown-divider
            li: a.dropdown-item(href="#control-button") Button
            li: a.dropdown-item(href="#control-image") Image
            li: a.dropdown-item(href="#control-content") Content

            li: hr.dropdown-divider
            li: a.dropdown-item(href="#control-group") Group
            li: a.dropdown-item(href="#control-tabs") Tabs
            li: a.dropdown-item(href="#control-accordion") Accordion
            li: a.dropdown-item(href="#control-container") Container
        li.nav-item.dropdown.d-none.d-sm-block
          a.nav-link.dropdown-toggle(href="#", data-bs-toggle="dropdown") Concepts
          ul.dropdown-menu.dropdown-menu-dark
            li: a.dropdown-item(href="#concept-layout") Layout & Labels
            li: a.dropdown-item(href="#concept-input") Input Values
            li: a.dropdown-item(href="#concept-mithril") Mithril
            li: a.dropdown-item(href="#custom-controls") Custom controls
            li: a.dropdown-item(href="#custom-colors") Theme colors

        li.nav-item
          a.nav-link(href="#", onclick="openPlayground();") Playground
        li.nav-item
          a.nav-link(href="https://github.com/giniedp/tweak-ui", target="_blank") Github

  .container-xxl
    section#install-npm
      h2 Installation (NPM)
      include how-to/install-npm.pug

    section#install-cdn
      h2 Installation (CDN)
      include how-to/install-cdn.pug

    section#install-cdn
      h2 Usage
      include how-to/usage.pug

    h2#controls Controls

    section#control-number
      h3 Number
      include controls/number.pug

    section#control-slider
      h3 Slider
      include controls/slider.pug

    section#control-text
      h3 Text
      include controls/text.pug

    section#control-checkbox
      h3 Checkbox
      include controls/checkbox.pug

    section#control-select
      h3 Select
      include controls/select.pug

    section#control-angle
      h3 Angle
      include controls/angle.pug

    section#control-spherical
      h3 Spherical
      include controls/spherical.pug

    section#control-point
      h3 Point
      include controls/point.pug

    section#control-position
      h3 Position
      include controls/position.pug

    section#control-color
      h3 Color
      include controls/color.pug

    section#control-color
      h3-picker Color picker
      include controls/color-picker.pug

    section#control-button
      h3 Button
      include controls/button.pug

    section#control-image
      h3 Image
      include controls/image.pug

    section#control-content
      h3 Content
      include controls/content.pug

    section#control-group
      h3 Group
      include controls/group.pug

    section#control-tabs
      h3 Tabs
      include controls/tabs.pug

    section#control-accordion
      h3 Accordion
      include controls/accordion.pug

    section#control-container
      h3 Container
      include controls/container.pug

    h2#concepts Concepts
    section#concept-layout
      h3 Layout & Labels
      include concepts/labels.pug

    section#concept-input
      h3 Input values
      include concepts/values.pug

    section#concept-mithril
      h3 Mithril
      include concepts/mithril.pug

    section#custom-controls
      h3 Custom controls
      include concepts/custom.pug

    section#custom-colors
      h3 Change Theme colors
      include concepts/theme.pug

    script(type='text/javascript')
      include index.js

    section#comments
      h3 Comments
      include ./comments.pug

    section
      include ./playground.pug
