+example#example-accordeon-1
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-accordeon-1", [{
      type: "accordeon",
      active: 1,        // will be opened initially
      children: [{
        title: "Group 1",
        children: [
          { type: "text", label: "My Text" },
          { type: "number", label: "My Number" },
        ]
      }, {
        title: "Group 2",
        children: [
          { type: "color-picker", label: "My Color" },
        ]
      }, {
        title: "Group 3",
      }]
    }])
