p Automatically handles the collapse state of sub groups
+example#example-accordion-1
  script(type="text/javascript").language-javascript.
    var person = { name: "John Doe", age: 42, eyes: '#4F8' }
    TweakUi.mount("#example-accordion-1", (ui) => {
      ui.accordion({ expand: 0 }, () => {
        ui.group("Group 1", () => {
          ui.text(person, 'name')
          ui.number(person, 'age')
        })
        ui.group("Group 2", () => {
          ui.color(person, 'eyes')
        })
      })
    })
