p
+example#example-angle-1
  script(type="text/javascript").language-javascript.
    var context = { value: 0 }
    TweakUi.mount("#example-angle-1", (ui) => {
      ui.angle(context, 'value')
    })
