p.mt-3
+example#example-angle-1
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-angle-1", [{
      type: "angle",
      label: "Test",
      // onInput: console.log
    }])
