+example#example-button
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-button", (ui) => {
      ui.button('Button', { onClick: console.log })
      ui.button('Button', { label: 'With Label' })
      ui.button('Button', { label: '' })
    })
