p.mt-3.mb-0 Display multiple buttons in a row
+example#example-button-group-1
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-button-group-1", [{
      type: "button-group",
      label: "Label",
      children: [
        { text: "Btn 1", onClick: console.log },
        { text: "Btn 2", onClick: console.log },
        { text: "Btn 3", onClick: console.log },
      ]
    }])

p.mt-3.mb-0 Alternate syntax
+example#example-button-group-2
  script(type="text/javascript").language-javascript.
    TweakUi.create("#example-button-group-2", (b) => {
      b.buttonGroup("Label", (g) => {
        g.button("Btn 1", { onClick: console.log })
        g.button("Btn 2", { onClick: console.log })
        g.button("Btn 3", { onClick: console.log })
      })
    })
