+example#example-checkbox
  script(type="text/javascript").language-javascript.
    var context = { value: true }
    TweakUi.mount("#example-checkbox", (b) => {
      b.checkbox({ value: true, onChange: console.log })
      b.checkbox(context, 'value')
      b.checkbox(context, 'value', { label: 'Label' })
      b.checkbox(context, 'value', { label: '' })
      b.checkbox(context, 'value', { label: null, text: 'Annotation' })
    })
