+example#example-color-picker
  script(type="text/javascript").language-javascript.
    var context = { value: '#fff' }
    TweakUi.mount("#example-color-picker", (b) => {
      b.colorPicker(context, 'value', {
        label: 'Color',
        onInput: console.log,
        onChange: console.log,
      })
    })
