p A simple flexbox container. Can be either horizontal or vertical. For more flexibility combine nested containers with custom style rules.
+example#example-container-1
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-container-1", (ui) => {
      ui.container({ horizontal: true }, () => {
        ui.container({ style: { flex: 'none' } }, () => {
          ui.image("Image", {
            src: "https://picsum.photos/300/300",
            width: '4rem'
          })
        })

        ui.container(() => {
          ui.button("Button", { label: "Label" })
          ui.button("Button", { label: "Label" })
          ui.button("Button", { label: "Label" })
        })
      })
    })
