+example#example-direction-1
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-direction-1", [{
      label: "Direction",
      type: "direction",
      value: { x: 1, y: 1, z: 0 },
      onChange: console.log,
    }])
