+example#example-image-1
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-image-1", [{
      type: "image",
      label: "Image",
      src: "https://picsum.photos/300/300",
    }])
