p an object with 2d coordinates
+example#example-point-1
  script(type="text/javascript").language-javascript.
    var context = { value: { x: 0, y: 0 } }
    TweakUi.mount("#example-point-1", (b) => {
      b.point(context, 'value', {
        xRange: [-1, 1],
        yRange: [-1, 1],
        reset: [0, 0],
        snap: 0.1,
      })
    })
