+example#example-slider-1
  script(type="text/javascript").language-javascript.
    var context = { a: 10, b: 5 }
    TweakUi.mount("#example-slider-1", (b) => {
      b.slider(context, 'a', { min: 1, max: 100, step: 0.5 })
      b.slider(context, 'b', { min: 1, max: 100, step: 0.5 })
    })
