p an object with spherical coordinates
+example#example-spherical-1
  script(type="text/javascript").language-javascript.
    var context = { value: { phi: 0, theta: 0 } }
    TweakUi.mount("#example-spherical-1", (ui) => {
      ui.spherical(context, 'value', {
        label: 'Spherical',
        // degree: true,
        onInput: console.log
      })
    })

p use a codec to map into 3d vector
+example#example-spherical-2
  script(type="text/javascript").language-javascript.
    var context = { value: [0, 0, -1] }
    TweakUi.mount("#example-spherical-2", (ui) => {
      ui.spherical(context, 'value', {
        label: 'Spherical',
        codec: TweakUi.sphericalCodec({
          axes: { 0: 'right', 1: 'up', 2: 'back'},
          length: -1,
          result: () => []
        }),
        onInput: console.log
      })
    })
