p.mt-3 an object with spherical coordinates
+example#example-spherical-1
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-spherical-1", [{
      type: "spherical",
      label: "Test",
      // onInput: console.log
    }])
