p Renders sub groups as tabs
+example#example-tabs-1
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-tabs-1", (b) => {
      b.tabs((tabs) => {
        tabs.group("Tab 1", (t) => {
          t.button("Button")
        })
        tabs.group("Tab 2", (t) => {
          t.number({ label: "Number" })
        })
        tabs.group("Tab 3", (t) => {
          t.text({ label: "Text" })
        })
      })
    })
