+example#example-text-1
  script(type="text/javascript").language-javascript.
    var context = { value: 'Helloo World' }
    TweakUi.mount("#example-text-1", (b) => {
      b.text(context, 'value', {
        label: "Text",
        onInput: console.log
      })
    })
