+example#example-toolbar-1
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-toolbar-1", [{
      type: "toolbar",
      children: [{
        type: "button",
        text: "Btn1"
      }, {
        type: "button",
        text: "Btn2"
      }, {
        type: "image",
        src: "https://picsum.photos/300/300"
      }, {
        type: "checkbox",
        text: "Check me"
      }]
    }])
