p.mt-3 Object with x, y, z components (default)
+example#example-vector-1
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-vector-1", [{
      type: "vector",
      label: "Vector",
      value: { x: 0, y: 1, z: 0 },
      min: -1, max: 1, step: 0.125,
      onInput: console.log, onChange: console.log
    }])

p.mt-3 2D Vector
+example#example-vector-2
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-vector-2", [{
      type: "vector",
      label: "Vector",
      value: { x: 0, y: 1 },
      keys: ['x', 'y'],
      min: -1, max: 1, step: 0.125,
      onInput: console.log, onChange: console.log
    }])

p.mt-3 Arbitrary Keys
+example#example-vector-3
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-vector-3", [{
      type: "vector",
      label: "Vector",
      value: { phi: 0, theta: 1 },
      keys: ['phi', 'theta'],
      min: -1, max: 1, step: 0.125,
      onInput: console.log, onChange: console.log
    }])

p.mt-3 Array
+example#example-vector-4
  script(type="text/javascript").language-javascript.
    TweakUi.mount("#example-vector-4", [{
      type: "vector",
      label: "Vector",
      value: [3, 2, 1],
      keys: [0, 1, 2],
      min: 0, max: 10, step: 0.25,
      onInput: console.log, onChange: console.log
    }])
